.header{
    width: 100%;
    height: 8%;
    background-color: rgb(29, 25, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}
.favoritesP{
    margin-left: 40px;
    color: aliceblue;
}
.homeP{
    color: aliceblue;
}

